<!DOCTYPE acl SYSTEM "acl.dtd">
<acl aclname="my_first_acl">
    
    <ace id="987">
        <principal idref="Klubicko"/>
        <accessType>allow</accessType>
        <privilege idref="KUTALET"/>
        <resourceObject idref="456"/>
    </ace>
    <ace id="894">
        <principal idref="Users"/>
        <accessType>allow</accessType>
        <privilege idref="SELECT"/>
        <resourceObject idref="852"/>
    </ace>
    
</acl>